{{#yield-title}}
    پنل کارمندان
{{/yield-title}}


{{#yield-menu}}
<nav id="sidebar">
    <div class="sidebar-header">
        <div>پنل کارمندان</div>
    </div>
    <div class="sidebar-menu">
        <div class="sidebar-item"><a href="#">صفحه اصلی</a></div>
        <div class="sidebar-item"><a href="#">ثبت اطلاعات دانش آموز</a></div>
        <div class="sidebar-item"><a href="#">ارسال نامه به همکاران</a></div>
        <div class="sidebar-item"><a href="#">ویرایش اطلاعات</a></div>
    </div>
    <div class="sidebar-footer"></div>
</nav>
{{/yield-menu}}