{{#yield-title}}
پنل دانش آموزان
{{/yield-title}}

{{#yield-menu}}
<nav id="sidebar">
    <div class="sidebar-header">
        <div>پنل دانش آموزان</div>
    </div>
    <div class="sidebar-menu">
        <div class="sidebar-item"><a href="#">صفحه اصلی</a></div>
        <div class="sidebar-item"><a href="#">مشاهده کارنامه</a></div>
        <div class="sidebar-item"><a href="#">مشاهده برنامه کلاسی</a></div>
        <div class="sidebar-item"><a href="#">ویرایش اطلاعات</a></div>
    </div>
    <div class="sidebar-footer">
        <div class="sidebar-item"><a href="/logout">خروج</a></div>
    </div>
</nav>
{{/yield-menu}}